.header *, .left_nav, .looking-for, .breadcrumb, .footer img
{
	display: none;
}

.header h1, .header h1 * 
{
	display: block;
	color: Black;
	text-decoration: none;
}

h2 
{
	text-align: left;
}


.right-management-content, right-management-top, right-management-bottom content 
{
	width: auto;
}