@charset "utf-8";

/*--------------------------------------------

				Defaults
				
---------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0; 
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
/* tables still need ‘cellspacing="0"‘ in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}
.left {
float: left;
}
.right {
float: right;
}
.clear {
clear: both;
}
em {
font-style: italic;
}
strong {
font-weight: bold;
}
a {
color: #6698c2;  /*set this color relative to your site design*/
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
input, select {
color: #878684;
}
input.image {
border: none;
}
.hidden {
display: none;
}
.print_page {
display: none;
}
.preload {
position: absolute;
left: -999em;
height: 0px;
width: 0px;
overflow: hidden;
}

/*--------------------------------------------

				Layout
				
---------------------------------------------*/

body {
font-size: 62.5%;
font-family: Verdana, Helvetica, Arial, sans-serif;
background: #fff;
color: #444444;
width: 1024px;
margin: 0 auto;
}

.right-managment {
height: 18px;
margin-top:16px;
*margin-top:4px;
width: 1024px;
z-index: 1;
}

/*--------------------------------------------

				Header
				
---------------------------------------------*/

.header {
height: 137px;
z-index: 10;
position: relative;
padding: 0 32px;
}

.logo {
display: block;
margin: 0;
background: url(../images/logo_rm.gif) right;
width: 203px;
height: 63px;
text-indent: -999em;
position: absolute;
top: 45px;
left: 25px;
}

.global {
float: right;
padding: 10px 0px 0 0;
line-height: 25px;
font-size: 11px;
height: 25px;
width: auto;
position:relative;
z-index:2;


font-family:Verdana,Helvetica,Arial,sans-serif;
}

.global li {
float: left;
padding: 0 0 0 5px;
}

.global li a {
color: #666666;
text-decoration: none;
float: left;
}

.global li a:hover {
text-decoration: underline;
}

.global li.choose-location {
padding: 0 5px 0 20px;
width: 213px;
position: relative;
float: left;
}

.global li.choose-location span {
float: left;
padding: 0 0 0 10px;
width: 203px;
height: 25px;
cursor: pointer;
background: url(../images/choose_location.gif) top right no-repeat;
z-index: 10;
position: relative;
}

.global li.choose-location-open span {
background: url(../images/choose_location_top.gif);
}

.global li.choose-location ul, .global li.choose-location ul li {
float: left;
width: 211px;
padding: 0;
}

.global li.choose-location ul {
display: none;
z-index: 9;
float: left;
height: 201px;
overflow-y: scroll;
overflow-x: hidden;
margin-top: 5px;
border-right: 1px solid #B9B9B9;
border-left: 1px solid #B9B9B9;
}

.global li.choose-location ul li.first {
padding-top: 5px;
background: white;
}

.your-location {
position: relative;
float: left;
width: 213px;
z-index: 9;
}

.global li.choose-location .locations {
float: left;
position: absolute;
padding-bottom: 5px;
width: 213px;
background: url(../images/location_bottom.gif) bottom left no-repeat;
top: -5px;
z-index: 9;
}

.global li.choose-location ul li a {
float: left;
width: 201px;
padding: 3px 0 3px 10px;
background: white;
line-height: 1.8em;
}

.global li.site-tools {
padding: 0 5px 0 20px;
width: 183px;
position: relative;
float: left;
}

.global li.site-tools span {
float: left;
padding: 0 0 0 10px;
width: 173px;
height: 25px;
cursor: pointer;
background: url(../images/site_tools.gif) top right no-repeat;
z-index: 10;
position: relative;
}

.global li.site-tools-open span {
background: url(../images/site_tools_open.gif);
}

.global li.site-tools ul, .global li.site-tools ul li {
float: left;
width: 181px;
padding: 0;
}

.global li.site-tools ul {
display: none;
z-index: 9;
float: left;
background: #fff;
border-right: 1px solid #B9B9B9;
border-left: 1px solid #B9B9B9;
}

.global li.site-tools ul li.first {
padding-top: 5px;
background: white;
}

.site {
position: relative;
float: left;
width: 181px;
z-index: 9;
}

.global li.site-tools .tools {
float: left;
position: absolute;
padding-bottom: 5px;
width: 183px;
background: url(../images/tools_bottom.gif) bottom left no-repeat;
top: -5px;
z-index: 9;
}

.global li.site-tools ul li a {
float: left;
width: 171px;
padding: 3px 0 3px 10px;
background: white;
}

.global li.site-tools ul li a.print-page {
padding-left: 30px;
width: 151px;
background: #fff url(../images/icon_print.gif) no-repeat 10px 10px;

}

.global li.site-tools ul li a.font-up {
padding-left: 30px;
width: 48px;
background: #fff url(../images/icon_font_up.gif) no-repeat 10px 10px;
}

.global li.site-tools ul li a.font-down {
padding-left: 30px;
width: 75px;
background: #fff url(../images/icon_font_down.gif) no-repeat 10px 12px;
}

/*--------------------------------------------

				Navigation
				
---------------------------------------------*/
/*
.nav {
float:right;
height:34px;
padding:28px 8px 0 0;
width:710px;
overflow: hidden
}
.nav li {
float: left;
height: 21px;
border-bottom: 3px solid white;
padding: 11px 0px 0 0;
font-size: 13px;
text-align: center;
}
.nav li a {
float: left;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
height: 14px;
padding: 0 5px;
font-size: 12px;
overflow: hidden;
color: #5f81aa;
}
*/

.nav {
float:right;
height:34px;
padding:28px 8px 0 0;
width:710px;
overflow: hidden
}
.nav li {
float: left;
height: 21px;
border-bottom: 3px solid white;
padding: 11px 0px 0 0;
font-size: 13px;
text-align: center;
}
.nav li a {
float: left;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
height: 14px;
padding: 0 5px;
font-size: 12px;
overflow: hidden;
color: #5f81aa;
}
.nav li:hover, .nav li.active{
border-bottom: 3px solid #d47c18;
}


/*--------------------------------------------

				Home
				
---------------------------------------------*/
.home_page_cont{
height:264px;
width:992px;
background-image: url(../images/feature_bkg.gif);
background-repeat: repeat-x;
background-position: bottom left;
background-color: #dae1eb;
}

.home_page {
float: left;
width: 992px;
padding: 0 0px 0 0;
background-image: url(../images/swatchhome.gif);
background-repeat: no-repeat;
}

.home_page .info {
float: left;
width: 500px;
height: 288px;
padding: 66px 0 0 213px;
background: url(../images/home_woman.jpg) bottom left no-repeat;
}

.home_page .info h2 {
color: white;
background: #c8504f;
padding: 14px 0 14px 20px;
font-size: 32px;
font-weight: normal;
}

.homebanner h2{
float: right;
background-image: url(../images/homebanner.gif);
width: 626px;
height: 60px;
text-indent: -999em;
overflow: hidden;
border-right:1px solid white;
}

.home_page .info p, .home_page .info ul {
padding: 23px 40px 0 23px;
font-size: 1.2em;
line-height: 2.1em;
}

.home_search {
position: absolute;
right:25px;
top:107px;
background: url(../images/search_field_home.gif) no-repeat;
padding:6px 29px 6px 10px;
height: 20px;
width:171px;
}

.home_search input {
background: none;
height: 20px;
border: none;
font-size: 1.3em;
padding:0px 0px 6px 0px;
height: 20px;
width:171px;
}

.home_search label {
position: absolute;
left: -50px;
font-size: 1.3em;
color: #878684;
top: 7px;
}

.home_search input.submit {
width: 35px;
background: white;
font-size: 1em;
padding: 0 0 2px 4px;
background: none;
margin: 0;
height: 25px;
border-left: 1px solid #878684;
color: #878684;
font-family:Verdana, Arial, Helvetica, sans-serif;
vertical-align: middle;
line-height: 25px;
display: block;
}

#socialMedia
{
margin-left:-140px;
margin-top:-5px;
position:absolute;	
}

#socialMedia li A {
    background: url("../images/rm-sprite-social-icons.png");
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    position: absolute;
}

#socialMedia li #googleLink{
	background-position: -136px -28px;
}

#socialMedia li #googleLink:hover{
	background-position: -136px 0;
}

#socialMedia li #twitterLink{
	background-position: -108px -28px;
	left: 3.3em;
}

#socialMedia li #twitterLink:hover{
	background-position: -108px 0;
}

#socialMedia li #linkedinLink{
	background-position: -82px -28px;
	left: 6.6em;
}

#socialMedia li #linkedinLink:hover{
	background-position: -82px 0;
}

#socialMedia li #facebookLink{
	background-position: -55px -28px;
	left: 9.9em;
}

#socialMedia li #facebookLink:hover{
	background-position: -55px 0;
}

.looking-for {
	background-image: url('/images/i-am-looking-for.png');
	float: right;
    height: 42px;
    padding: 0 0 10px;
    position: relative;
    right: 2em;
    text-align: center;
    top: -27em;
    width: 203px;
}

.looking-for h4 {
line-height: 60px;
color: #f78e1e;
font-size: 1.6em;
cursor: pointer;
font-family:Verdana, sans-serif;
font-weight:lighter;
line-height:17px;
height: 27px;
padding:23px 0 9px;
width:213px;
}

.looking-for h4 object, .home_page .looking-for h4 embed {
cursor: pointer;
}

.looking-for ul {
background: #eeeeee no-repeat;
padding: 0 12px 20px;
position: absolute;
float: left;
width: 189px;
top: 50px;
left: 0;
color: #b9b9b9;
text-align: left;
font-size: 1.2em;
line-height: 1.2em;
}

.looking-for ul dl, .home_page .looking-for ul dl dt, .home_page .looking-for ul dl dd, .home_page .looking-for ul li {
float: left;
width: 189px;
}

.looking-for ul li {
padding: 0 0 25px 0;
}

.looking-for ul li.first {
padding: 30px 0 25px;
}

.looking-for ul dl dt {
font-weight: bold;
font-size: 1.2em;
padding: 0 0 10px;
}

.looking-for ul dl dd {
padding: 0 0 15px 5px;
width: 184px;
}

.looking-for ul dl dd img {
border: 2px solid #6698c2;
margin-bottom: 10px;
}

.looking-for ul ul {
background: none;
margin: 0;
padding: 0;
width: auto;
float: left;
width: 189px;
position: relative;
top: 0;
}

.looking-for ul li ul {
list-style: disc;
width: 169px;
padding: 0 0 0 15px;
}

.looking-for ul li ul li {
padding: 0 0 5px 0;
width: 169px;
}

.news-strip {
	color: #878684;
    height: 23px;
    left: 30em;
    line-height: 28px;
    overflow: hidden;
    position: relative;
    top: 10em;
    width: 590px;
}

p{
font-size:15px;
line-height:1.7em;
padding:0 0 0 0;
width:450px;
}


.news-strip h4 {
font-size: 1.2em;
font-weight: bold;
color: #5f81aa;
font-style: italic;
padding: 0 20px 0 0;
float: left;
display: none;
}

.latest_news_left, .latest_news_right {
float: left;
padding: 0 5px;
margin-top: 7px;
cursor: pointer;
display: none;
}

.latest_news_left {
border-right: 1px solid #d2d2d2;
}

.flash .news-strip ul {
float: left;
padding: 0 0 0 0px;
width: 690px;
height: 28px;
overflow: hidden;
position: relative;
color: #444444;
}

.flash .news-strip ul li {
width: 594px;
float: left;
}

.flash .news-strip ul a {
color: #444444;
text-decoration: none;
font-size: 1.2em;
padding: 0 5px 0 0;
}

.flash .news-strip ul a:hover {
text-decoration: underline;
}

.flash .news-strip a.rss {
color:#878684;
display:block;
float:right;
height:20px;
position:relative;
top:-28px;
margin-right:5px;
width:69px;
z-index: 100;
}

.flash .news-strip a.rssHome 
{
display:block;
float:right;
height:20px;
position:relative;
top:-22px;
margin-right:5px;
z-index: 100;
}

.global li.site-tools ul li a.rss-feed 
{
padding-left: 35px;
width: 148px;
background: url(../images/rss_home.gif) 10px 5px no-repeat;
line-height: 1.7em;
}

.flash .news-strip .rss:hover {
text-decoration: underline;
}
.businessOverlay{
background-image:  url(../images/business.png);
width: 235px;
height: 277px;
position: absolute;
top:143px;
left: 50px;
_azimuth: expression(
this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='scale')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true
);
}

/*--------------------------------------------

				News Slider Nav
				
---------------------------------------------*/

.news-slider-nav {
float: left;
width: 992px;
text-align: center;
position: relative;
padding: 0px;
display: inline;
}

.news-slider-nav li {
display: inline;
background: url(../images/news_slider_dot.gif) no-repeat;
margin: 0 5px;
line-height: 7px;
height: 7px;
font-size: 7px;
cursor: pointer;
}

.news-slider-nav li.stop{
visibility: hidden;
}

.news-slider-nav li.arrow-left {
top: 122px;
left: 0;
position: absolute;
width: 10px;
height: 19px;
background: url(../images/arrow_left_news.gif) no-repeat;
}

.news-slider-nav li.arrow-left.active, .news-slider-nav li.arrow-right.active{
-moz-opacity: 0.5;
opacity:.50;
filter: alpha(opacity=50);
}


.news-slider-nav li.arrow-right {
top: 122px;
right: 0;
position: absolute;
width: 10px;
height: 19px;
background: url(../images/arrow_right_news.gif) no-repeat;
}


.news-scroll {
    background: url("../images/scroll_path.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 323px;
    position: relative;
    width: 498px;
}

.scroller {
height: 6px;
width: 90px;
padding: 4px 10px 0;
font-size: 0.1em;
background: url(../images/scroller.gif) center bottom no-repeat;
}

/*--------------------------------------------

				News Slider
				
---------------------------------------------*/

.news-slider {
float: left;
width: 945px;
margin: 0 0px;
display: inline;
overflow: hidden;
position: relative;
margin: 25px 0 2px 27px;
height:263px;
}

.slidecolor{
width: 3px;
height: 39px;
overflow: hidden;
background-color: #5f81aa;
position: absolute;
top: 12px;
left: 6px;
}
.reddish{
background-color: #c8504f;
}
.greenish{
background-color: #7ea190;
}

.slideBottom{
background-color:#CCCCCC;
bottom:0;
height:1px;
left:6px;
position:absolute;
width:298px;
overflow: hidden;
}
.news-slider ul {
float: left;
width: 999em;
position: relative;
left: 0;
line-height:15px;
z-index: 1;
}

.news-slider ul li {
float: left;
height: 247px;
width: 251px;
padding: 17px 32px 0;
font-size: 11px;
background: url(../images/slider_element_bkg.gif) no-repeat 0 30px;
position: relative;
z-index: 1;
}

.news-slider ul li h3 {
color: #878684;
font-size: 18px;
padding: 0 0 20px;
font-weight: 200;
line-height: 1em;
}

.news-slider ul li p {
font-size: 11px;
line-height: 1.2em;
padding: 0 0 8px;
width: 251px;
}

.news-slider ul li img{
position: absolute;
bottom: 1px;
right: 11px;
}
/*--------------------------------------------

				Inner
				
---------------------------------------------*/

.inner {
float: left;
width: 990px;
padding: 0 11px 0 0;
position: relative;
}

.inner .info {
width:770px;
height: 60px;
overflow: hidden;
}

.inner .info h2 {
color: #000000;
padding: 14px 0 14px 20px;
font-size: 32px;
font-weight: normal;
}


.inner .info h1 {
    color: #000000;
    font-family: Arial;
    font-size: 34px;
    margin-left: 4.9em;
    padding: 10px 0;
}

.inner .info .symbol {
	background: url("../images/sprite-rm-symbols.png");
	background-repeat: no-repeat;
	background-size: 200px auto;
    float: left;
    height: 49px;
    margin-left: 105px;
    margin-top: 4px;
    position: relative;
    width: 49px;
}


.inner .info.section1 .symbol {
    background-position: -155px 6px;
}
.inner .info.section2 .symbol{
	background-position: 0px -162px;
}
.inner .info.section3 .symbol {
    background-position: -51px -103px;
}
.inner .info.section4 .symbol{
   background-position: -155px -156px;
}
.inner .info.section5 .symbol{
	background-position: -105px -103px;
}
.inner .info.section6 .symbol{
	background-position: -105px 0px;
}
.inner .info h2{
background: transparent;
}

.inner .info p {
padding: 23px 40px 0 23px;
font-size: 1.2em;
line-height: 2.1em;
}



/*--------------------------------------------

				Left Navigation
				
---------------------------------------------*/

.left_nav {
float: left;
padding: 66px 0 0 4px;
width: 150px;
z-index: 2;
position: relative;
}

.left_nav li {
float: left;
width: 150px;
margin: 0 0 5px;
}

.left_nav li a {
float: left;
padding: 3px 15px 5px;
width: 120px;
color: #878684;
text-decoration: none;
font-size: 1.1em;
line-height: 1.3em;
background: #fff;
}

.left_nav li.active a, .left_nav li a:hover {
background: url(../images/subnavBKG.gif) repeat-x;
}

.left_nav li.active ul li a{
background: none;
}

.left_nav li.active ul li.active a{
background: url(../images/subnavBKG.gif) repeat-x;
}

.left_nav li ul{
padding-left: 11px;
}

.left_nav li ul li a{
width: 109px;
}

/*--------------------------------------------

				Content
				
---------------------------------------------*/

.right-management-content {
float: left;
width: 580px;
background: url(../images/content_bkg.gif) repeat-y;
margin-left: -15px;
display: inline;
}

.right-management-top {
float: left;
width: 580px;
background: url(../images/content_top.gif) no-repeat;
}

.right-management-bottom {
float: left;
padding: 25px 25px 25px 65px;
width: 490px;
background: url(../images/content_bottom.gif) no-repeat bottom left;
_overflow: hidden;
}

.right-management-bottom-no-padding {
float: left;
padding: 25px 0 25px 65px;
width: 785px;
background: url(../images/content_bottom.gif) no-repeat bottom left;
_overflow: hidden;
}


.inner .looking-for {
    position: absolute;
    right: 21px;
    top: 10px;
}

.content .breadcrumb {
width: 100%;
padding: 0 0 25px;
list-style: none;
font-size: 1em;
line-height: 1.1em;
margin: 0;
}

.breadcrumb li {
display: inline;
padding: 0 5px 0 0;
}

.content h1 {
font-size: 1.8em;
font-weight: bold;
padding-bottom: 5px;
}

.content ul h3{
font-size: 1.2em;
}

.content p, .content ol, .content ul, .content h4,  .content h3{
font-size: 1.2em;
line-height: 1.7em;
padding: 0 0 16px;
}

.content ol {
list-style: decimal;
margin: 0 0 0 30px;
}

.content ol li {
padding: 0 0 10px;
}

.content p.g, .content p.s{
padding: 0 0 0 0;
line-height: 1em;
width:700px;
}

.content td.s{
width:700px;
}

.content span.s{
font-size:8pt;
}


.content h2{
font-size:1.4em;
font-weight:bold;
line-height:1.4em;
padding:0 0 16px;
}

.content h4, .content h3{
font-weight: bold;
padding: 0 0 5px;
}
.content ul{
list-style: disc;
padding-left: 10px;
margin-left: 10px;
}

.content img.left {
padding: 0 15px 15px 0;
}
.content .profileForm label, .contactus label{
float: left;
width: 145px;
font-weight: bold;
}
.profileForm input {
width: 140px;
}

.req{
float: left;
width: 10px;	
}
.unreq{
padding-left: 10px;	
}
.contactus p{
clear: left;
}
.content .profileForm{
list-style: none;
margin: 0;
padding: 0 0 15px;
}

.content .profileForm li{
padding: 5px 0;
clear: left;
}
.contactus textarea{
width: 300px;
height: 120px	
}

.content .ctl00_cphMain_controlLoader1_ctl00_divResults
{
	padding: 0 0 0 0;
	font-size: 1em;
	line-heigh: 1em;
	width: 100%;
}


/*--------------------------------------------

				Fine Your Local Office
				
---------------------------------------------*/

.office {
font-size:1.2em;
line-height:2em;
}

.office label {
width: 150px;
float: left;
clear: both;
}

.office input, .office select {
float: left;
margin: 3px 0;
width: 200px;
}

.office select {
width: 205px;
display: block;

}

.offices {
font-size:1.2em;
line-height:1.7em;
padding:0 0 16px;
}

.offices p {
font-size:1em;
padding:0px;
margin:0px;
}

#side_bar ul {
float: left;
width: 736px;
padding: 0 0 0 20px;
}

#side_bar ul li {
float: left;
width: 175px;
padding: 0 15px 5px 0;
}

#side_bar ul li strong {
float: left;
color: #777;
}

#side_bar ul li a {
margin-left: 15px;
display: block;
font-size: 0.8em;
text-indent: 0;
}

#side_bar p {
display: block;
font-size: 0.8em;
text-indent: 0;
padding-bottom: 5px;
}

#side_bar p br 
{
	line-height: 0.01em;
}

#side_bar p a.mailto {
display: block;
font-size: 1em;
text-indent: 0;
line-height: 2em;
margin:0px;
padding:0px;
}

#side_bar p {
margin-top: 5px;
display: block;
font-size: 0.8em;
text-indent: 0;
line-height: 2em;
}

#side_bar p a.mailto {
display: block;
font-size: 1em;
text-indent: 0;
line-height: 2em;
margin:0px;
padding:0px;
}

#side_bar {
float: left;
width: 756px;
display: inline;
clear: both;
padding: 25px 0 0;
}

#map {
float: left;
width: 615px;
border: 1px solid #878684;
}

#map div, #map_other div
{
	line-height: 1.4em;
}

#map p, #map_other p {
font-size:1em;
margin:0;
padding:0;

}

#side_bar_other ul {
float: left;
width: 736px;
padding: 0 0 0 20px;
}

#side_bar_other ul li {
float: left;
width: 175px;
padding: 0 15px 5px 0;
}

#side_bar_other ul li strong {
float: left;
color: #777;
}

#side_bar_other ul li a {
margin-left: 15px;
display: block;
font-size: 0.8em;
text-indent: 0;
}

#side_bar_other p {
display: block;
font-size: 0.8em;
text-indent: 0;
padding-bottom: 5px;
}

#side_bar_other p br 
{
	line-height: 0.01em;
}

#side_bar_other p a.mailto {
display: block;
font-size: 1em;
text-indent: 0;
line-height: 2em;
margin:0px;
padding:0px;
}

#side_bar_other {
float: left;
width: 756px;
display: inline;
clear: both;
padding: 25px 0 0;
}

#map_other {
float: left;
width: 615px;
border: 1px solid #878684;
}

.north_america {
float: left;
width: 360px;
padding: 20px 0 0;
margin: 20px 0 0;
border-top: 1px solid #878684;
clear: both;
}

.formError {
color:Red;
font-size:11px;
}

#ctl00_cphMain_controlLoader1_ctl00_UpdatePanel1 
{
	float: left;
	width: 100%;
	padding: 0 0 10px;
}

#ctl00_cphMain_controlLoader1_ctl00_divResults
{
	width:780px;
	line-height:1em;
	font-size:1em;
	padding: 0 0 0 0;
	
}

#side_bar ul, #side_bar_other ul 
{	margin: 0;
	list-style: none;
}

.formError {
color:Red;
font-size:11px;
}

.formfieldError 
{
	/*float:left;*/
}

/*--------------------------------------------

				Related Information
				
---------------------------------------------*/

.related-info {
float: right;
width: 260px;
margin-top: 35px;
background: #eeeeee;
padding: 0 0 5px;
}

.related-info h4 {
color: #333333;
font-size: 18px;
font-weight: normal;
background: #b9b9b9;
padding: 5px 0;
text-align: center;
}

.related-info ul{
padding: 14px 20px 20px;
line-height: 1.2em;
font-size: 1.1em;
}

.related-info ul a{
display: inline-block;
line-height: 1.2em;
text-decoration: none;
vertical-align: middle;
}

.related-info ul a:hover{
text-decoration: underline;
}

.related-info ul li{
padding: 7px 0;
clear: left;
}

.related-info ul p{
font-size:11px;
line-height: 1.2em;
}


.related-info ul img, .related-info ul p img{
margin:0px 5px 0 0;
vertical-align: middle;
}

.related-info ul p a{
margin-left: 6px;
}

.content a.titlelink {
vertical-align: middle;
display: block;
}

.content .file-list a.titlelink {
margin: 0 0 0 45px;
}
.fileicon{
vertical-align: top;
padding: 0 10px 0 0;
float: left;
clear: both;
}
.titlelink img{
vertical-align:middle;
text-decoration: none;
}

.content .file-list {
padding: 0 0 0 30px;
list-style: none;
float: left;
width: 726px;
clear: both;
}

.file-list li {
padding: 0 0 15px;
background: none;
float: left;
width: 726px;
}

.file-list li p {
font-size: 0.9em;
margin: 0 0 0 45px;
}

.file-list li p.abstract {
position: absolute;
left: -999em;
}


/*--------------------------------------------

				Boxes
				
---------------------------------------------*/
.gradbox{
padding: 4px;
border: 1px solid #d2d2d2;
width: 360px;
margin-bottom: 25px;
float: left;
}

.blankbox{
padding: 15px;
}

.gradbox .gradInner{
background-image: url(../images/gradbox.gif);
background-repeat: repeat-x;
padding: 15px;
}
.gradbox h3, .gradbox h4, .data_research h4, .articles_white h4{
font-size: 1.6em;
color: #5f81aa;
padding: 0 0 7px 0;
}
.gradbox p, .gradbox li{
line-height: 1.4em;
padding: 0 0 7px 0;
}

.gradbox.right{
float: right;
}

.gradbox .grayInner li{
padding: 0 0 7px 56px;
background-image: url(../images/theQ.gif);
background-repeat: no-repeat;
min-height: 56px;
height: auto !important;
height: 56px;
}

div.survey {
float: left;
width: 100%;
padding: 0 0 10px;
}

div.survey input{
float:left;
height:16px;
margin:0 5px 0 0;
width:16px;
}

div.survey label{
width: 100%;
float: left;
padding: 0 0 3px;
}

.borderHeader, .data_research h4, .articles_white h4{
border-bottom: 1px solid #d9e5f0;
margin-bottom: 7px;
}

.gradbox .grayInner{
background-color: #eeeeee;
padding: 15px;
}

.gradbox ul{
list-style: none;
margin: 0;
padding: 0;
}

.data_research, .articles_white{
width: 302px;
border: 1px solid #d6d6d6;
padding: 11px;
float: right;
margin: 25px 25px 0 0;
}
.data_research{
clear: left;
float: right;
margin: 25px 0 0 25px;
}
.data_research .fileicon, .articles_white .fileicon{
float: left;
margin: 0 5px 5px 0;
}

.content .data_research a.titlelink, .content .articles_white a.titlelink{
clear: none;
}

.data_research ul, .articles_white ul{
list-style: none;
margin: 0px;
padding: 0px;
line-height: 1.3em;
}
.data_research li, .articles_white li{
clear: left;
float: left;
padding: 5px 0;
width: 280px;
}

.data_research li h4, .articles_white li h4{
font-size:1.1em;
margin-top:10px;
}

.content .data_research ul, .content .articles_white ul{
	font-size: 1.1em;
}
/*--------------------------------------------

				Generic dropdown
				
---------------------------------------------*/



.dropdown {
padding: 5px 0px 0px 0px;
height: 25px;
width: 213px;
position: relative;
}

.dropdown span {
float: left;
padding: 0 0 0 10px;
width: 203px;
height: 25px;
cursor: pointer;
background: url(../images/dropdown.gif) top right no-repeat;
z-index: 10;
position: relative;
font-size: 1.1em;
line-height: 2em;
}

.global li.choose-location-open span {
background: url(../images/choose_location_top.gif);
}

.dropdown ul, .dropdown ul li {
float: left;
width: 211px;
padding: 5px 0;
}

.dropdown ul {
display: none;
z-index: 9;
float: left;
margin: 0;
border: 1px solid #b9b9b9;
list-style: none;
}

.dropdown ul li.first {
padding-top: 5px;
background: white;
}

.your-location {
position: relative;
float: left;
width: 213px;
z-index: 9;
}

.dropdown .locations {
float: left;
position: absolute;
padding-bottom: 5px;
width: 213px;
background-color: white;
top: -5px;
z-index: 9;
}

.dropdown ul li a {
float: left;
width: 201px;
padding: 3px 0 3px 10px;
background: white;
font-size: 11px;
}


/*--------------------------------------------

				Search
				
---------------------------------------------*/

#searchDescription, 
.searchResult, 
#searchPager{
line-height: 1.4em;
padding: 0 0 7px 0;
font-size: 1.2em;
}
#searchPager{
text-align: center;
padding:5px 0;
font-weight: bold;
}
.home_search input.submit{
display: none;
}

/*--------------------------------------------

				Footer
				
---------------------------------------------*/

.footer p {
    color: #444444;
    float: left;
    font-size: 1em;
    line-height: 28px;
    padding: 25px 0 40px;
    text-align: center;
    width: 1024px;
}

.footer img {
vertical-align: middle;
padding: 0 0 0 10px;
height: 28x;
}

.footer a {
color: #878684;
}
.successMessage{
color: #5F81AA;
}


/****************************** AA Edit mode Rhythmyx only ***********/

.PsAaPage {
border: none !important;
}
#ps\.aa\.PageContent
{
width: 100% !important;
}

#ps\.aa\.PageContent .container{
width: 1024px;
margin: 0 auto;
}

#ctl00_cphMain_controlLoader1_ctl00_TreeView1{
font-size: 1.2em;
line-height:1.4em;
}

a.printpage {
float: right;
background:#FFFFFF url(../images/icon_print.gif) no-repeat scroll 0 center;
padding-left:15px;
font-size: 1.1em;
line-height: 20px;
}



/*--------------------------------------------

				Carousel Homepage
				
---------------------------------------------*/

#carouselBackground {
	background-image: url('/images banner/hp-bg-010.jpg');
	height: 288px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 992px;
}

#carouselBackground #carouselHeader {
    background-image: url("/images banner/rm-tagline-000.png");
    height: 33px;
    left: 30em;
    position: relative;
    top: 7em;
    width: 378px;
}

#carouselBackground #carouselText {
    font-size: 15px;
    left: 20em;
    line-height: 1.5em;
    position: relative;
    top: 3.8em;
    width: 464px;
}



/*--------------------------------------------

				Gmaps Extend Height
				


.gmnoprint .gmnoprint {
height: auto !important;
float: left;
}

.gmnoprint .gmnoprint div {
float: left;
height: auto !important;
padding: 16px 0 0 16px;
position: relative !important;
top: 0 !important;
left: 0 !important;
}

.gmnoprint .gmnoprint div div {
padding: 0;
}

---------------------------------------------*/

.gmnoprint .gmnoprint div div {

}

.map_other 
{
	font-size: 100%;
}

/*--------------------------------------------

				Bios
				
---------------------------------------------*/

.bios {
font-size:1.2em;
line-height:1.7em;
padding:0 0 16px;
margin: -10px 0 0;
}

.bios dt {
font-weight: bold;
padding: 10px 0 5px;
}

.bios a 
{
	cursor: pointer;
}



/*--------------------------------------------

				New Header Layout
				
---------------------------------------------*/

.global li.choose-location {
padding-left: 10px;
}

.global li.choose-location, .global li.choose-location-open {
width: 290px;
}

.global li.choose-location span {
width: 280px;
}

.global li.choose-location .locations {
width: 290px;
}

.global li.choose-location ul {
width: 278px;
}

.global li.choose-location ul, .global li.choose-location ul li {
width: 288px;
}

.global li.choose-location ul li a {
width: 278px;
}

.global li.site-tools {
width: 123px;
padding-left: 5px;
}

.global li.site-tools span {
width: 113px;
}

.site {
width: 121px;
}

.global li.site-tools .tools {
width: 123px;
}

.global li.site-tools ul, .global li.site-tools ul li {
width: 121px;
}

.global li.site-tools ul li a.rss-feed {
width: 88px;
}

.global li.site-tools ul li a.print-page {
width: 91px;
}

/*--------------------------------------------

.global li.office-locator {
width: 100px;
height: 25px;
text-align: center;
background: url(../images/locator-bkg.gif) no-repeat;
padding: 0;
margin: 0 0 0 10px;
display: inline;
}

.global li.office-locator a {
width: 95px;
} 



				New Country Drop Down
				
---------------------------------------------*/

.global li.choose-location {
padding: 0 5px;
}

.global li.site-tools {
padding: 0 5px 0 10px;
}

.your-location {
width: 183px;
}

.global li.choose-location, .global li.choose-location-open {
width: 183px;
}

.global li.choose-location span {
width: 173px;
}

.global li.choose-location .locations {
width: 823px;
right: 0;
}

.global li.choose-location ul {
width: 273px;
overflow: visible;
overflow-x: hidden;
height: auto;
background:white;
}

.global li.choose-location .countries-holder {
border-right:1px solid #B9B9B9;
float: left;
width: 822px;
margin-top: -1px;
background:none repeat scroll 0 0 #FFFFFF;
}

.global li.choose-location ul.left-countries {
border: none;
border-top:1px solid #B9B9B9;
border-left:1px solid #B9B9B9;
}

.global li.choose-location ul.right-countries {
border: none;
border-top:1px solid #B9B9B9;
}

.global li.choose-location ul.middle-countries {
border-left:1px solid #fff;
border-right:1px solid #fff;
border-top:1px solid #B9B9B9;
}


.global li.choose-location ul li {
width: 273px;
}

.global li.choose-location ul li a {
line-height: 1.3em;
width: 263px;
}

.global li.choose-location ul li a:hover {
text-decoration: none;
color: white;
background:#999999;
}

.no-border {
background: none !important;
}

.global li.choose-location span {
z-index: 11;
}

.your-location {
z-index: 10;
}


/*--------------------------------------------

				Languages
				
---------------------------------------------*/

.languages-nav {
position: absolute;
top: 116px;
right: 300px;
z-index: 1;
}

.languages-nav-script {
right: 250px;
}

.languages-nav li {
display: inline;
padding: 0 0 0 4px;
font-size: 1.1em;
color: #666666;
position: relative;
z-index: 1;
}

.languages-nav li a {
text-decoration: none;
color: #666666;
position: relative;
z-index: 1;
}

.languages-nav li a:hover {
text-decoration: underline;
}





/*--------------------------------------------


				Office Locator


				
---------------------------------------------*/



#officeLocationHolder
{
	width:298px;
	float:right;
	text-align:left;

	padding-top: 20px;
}








#office_Filter 
{
	width: 296px;
	float: left;
	padding: 0 0 5px 0;
	font-size:12px;	
}


#officeContainer
{
	width:302px;

	margin:0 auto;
}





.locate-north-america
{

}

#locator_map
{
	padding-top: 20px;



}



/*--------------------------------------------

				Google Search


				
---------------------------------------------*/

#divResults
{
	Width: 700px;
}

.divResults
{
	width: 700px;
{

#ctl00_cphMain_controlLoader1_ctl00_divResults .content
{
	width: 700px;
	line-height:1em;
	font-size:1em;
	padding: 0 0 0 0;
}